header {
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

/* גוף העמוד */
main {

    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    height: 100%;
}

section,
aside {
    overflow-x: hidden;
    background-color: #3f434eb4;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    text-align: start;
}

.favorite-button {
    padding: 20px;

}

.favorite-button a {
    text-decoration: none;
}